version: '3.8'

services:
  db:
    image: postgres:17
    container_name: voting_db_container
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespassword
      POSTGRES_DB: voting_dapp
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: